*{
    box-sizing: border-box;
}


.navbar-brand{
    font-size: 30px;
}
::placeholder{
    font-style: italic;
   
}

.form-inline input{
    background-color: rgb(243, 252, 248);
    width:100%;
    padding-right: 7rem;
    border-radius:0px;
    
}
.background{
    background-color: rgba(197, 197, 197, 0.22) !important;
}